.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card {
    width: 34%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    opacity: 0.9;
}
